@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

html {
  background-color: hsl(212, 45%, 89%);
  height: 100%;
  width: 100%;
}

body {
  font-family: Outfit;
  text-align: center;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.card {
  width: 320px;
  height: 497px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.qrCode img {
  border-radius: 10px;
  margin: 15px auto;
  display: inline-block;
}

.instructions {
  display: inline-block;
  width: 288px;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.attribution {
   font-size: 11px;
   text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

 .attribution a {
   color: hsl(228, 45%, 44%);
 }
